body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 50px;
  padding: 30px;
  width: 300px;
  background-color: sandybrown;
}

.draggable {
  margin-top: 30px;
  border-radius: 3%;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable .dragging {
  opacity: 0.5;
}

.search {
  width: 300px;
}

img {
  border-radius: 10%;
  height: 150px;
  width: auto;
}

.name {
  margin-top: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.cost {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}

.hidden {
  display: none;
}
